<hr/>
<footer class="flex justify-content-between  p-4 ">
  <div class="flex flex-column align-items-start gap-2 mr-8">
    <div class="flex justify-content-center align-items-center">
      <img class="logo" alt="logo of explore" src="../assets/logo.png">
      <span class="pl-2 text-base ">Explore</span>
    </div>
    <div class="button-container">
      <p-button styleClass="w-1 h-auto" icon="pi pi-check" [rounded]="true" severity="success" [outlined]="true" size="small"></p-button>
      <p-button styleClass="w-1 h-auto" icon="pi pi-check" [rounded]="true" severity="warning" [outlined]="true"  size="small"></p-button>
      <p-button styleClass="w-1 h-auto" icon="pi pi-search" [rounded]="true"  [outlined]="true"  size="small"> </p-button>
    </div>
  </div>
  <div class="flex flex-column p-col-12 p-md-4 p-lg-3">
    <h3 class="p-text-bold p-mb-2">Services</h3>
    <a class="p-link p-text-white">Branding</a>
    <a class="p-link p-text-white">Design</a>
    <a class="p-link p-text-white">Marketing</a>
    <a class="p-link p-text-white">Advertisement</a>
  </div>
  <div class="flex flex-column p-col-12 p-md-4 p-lg-3">
    <h3 class="p-text-bold p-mb-2">Company</h3>
    <a class="p-link p-text-white">About us</a>
    <a class="p-link p-text-white">Contact</a>
    <a class="p-link p-text-white">Jobs</a>
    <a class="p-link p-text-white">Press kit</a>
  </div>
  <div class="flex flex-column p-col-12 p-md-4 p-lg-3">
    <h3 class="p-text-bold p-mb-2">Legal</h3>
    <a class="p-link p-text-white">Terms of use</a>
    <a class="p-link p-text-white">Privacy policy</a>
    <a class="p-link p-text-white">Cookie policy</a>
  </div>
</footer>
