.image-container {
  background-image: linear-gradient(
    to top,
    rgba(255, 212, 130, 1),
    rgba(255, 212, 130, 0.2)
  );
}

.image-full:before {
  background-color: transparent;
}

.text-orange {
  color: var(--color-orange);
}
.card-body {
  padding: 0.5rem;
}

.bg-custom-pattern {
  background-image: radial-gradient(
      circle at 0% 100%,
      transparent 15%,
      #ffeda3 16%,
      #ffeda3 18%,
      transparent 19%,
      transparent 21%,
      #ffeda3 22%,
      #ffeda3 100%
    ),
    radial-gradient(
      circle at 100% 0%,
      transparent 15%,
      #ffeda3 16%,
      #ffeda3 18%,
      transparent 19%,
      transparent 21%,
      #ffeda3 22%,
      #ffeda3 100%
    );
  background-size: cover;
}

.badge-position {
  bottom: 50px;
  left: -70px;
}

/** Nested Grid **/

.grid img {
    width: 100%;
    height:auto;
    object-fit: contain;
    border-radius: 5px;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

