<vex-header [loggedIn]="login"></vex-header>

<section class="p-5">
    <div class="text-3xl text-center">
        <span>Find Popular Destinations</span>
    </div>
</section>

<div class="card w-full mx-auto">
    <p-carousel [value]="products" [numVisible]="4" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" >
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round-2xl m-2  py-2 px-2">
                <div class="mb-2">
                    <img src="../../../assets/places/new york.png" [alt]="product.name" class="w-full border-round-lg" />
                </div>
                <div class="ml-1 ">
                    <span class="font-bold text-base mb-1">{{ product.name }}</span>
                    <p class="text-xs w-8 mt-1">{{ product.description }}</p>
                    <div class="mt-3 flex align-items-center justify-content-between gap-2">
                        <div>
                            <span class="mt-0 mb-3">{{ '$' + product.price }}</span>
                            <span class="text-xs"> /Person</span>
                        </div>
                        <p-button styleClass="text-xs font-light p-2" severity="secondary" [outlined]="true" [rounded]="true">
                            Book Now
                        </p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<vex-footer></vex-footer>